nav>ul>li {
display: inline-block;
}
.welcome {
    display: flex;
    width: 100%;
    padding-top: 100%;
    background-image:url(images/welcome.jpg);
    background-size: cover;
    opacity: 0.5;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}