*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*------------------------------- index file ------------------------------------*/

.container {
    max-width: 90%;
    margin: 0px auto;
    padding: 0px 10px;
}
.content {
    padding: 70px 0 0 0;
    flex: 1 1 auto;
}
.content-text {
    font-size: 18px;
    line-height: 25px;
}

/*-------------------------------- NAVIGATION ----------------------------------*/

.header {
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 5;
    }
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: 2;
    }
.header-body {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
    align-items: center;   
    }
.header-list {
    display: flex;
    position: relative;
    z-index: 2;
    }
.header-list li {
    list-style: none;
    margin: 0 0 0 20px;
    }
.header-link {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    }
.header-logo {
    filter: invert(100%);
    flex: 0 0 40px; 
    overflow: hidden;
    z-index: 3;
    }
.header-logo img {
    max-width: 100%;
    display: block;
    }

/*-----------------------------HAMBURGER-MENU-----------------------------*/

.header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    }
.header-burger::before,
.header-burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    }
.header-burger::before {
        top: 0;
    }
.header-burger::after {
        bottom: 0;
    }
.header-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
.header-burger.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
    }
.header-burger.active span {
        transform: scale(0);
    }
.header-burger span {
        position: absolute;
        background-color: white;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    } 
/*------------------------------ HAMBURGER-MENU-END -----------------------------*/

    body.lock {
        overflow: hidden;
    }
    .header-menu { 
        position: fixed;
        top:-100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:rgb(43, 38, 54);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .header-menu.active {
        top:0;
    }
    .header-list {
        display: block;
    }
    .header-list li {
        margin: 0 0 20px 0;
        width: 100%;
        text-align: center;
    }
    .header-list li:hover {
        background-color: rgb(126, 127, 167);
        border-radius: 10px;
    }

/*------------------------------- NAVIGATION-END -----------------------------*/

.restaurant {
        display: flex;
        width: 100%;
        padding-top: 100%;
        background-image:url(images/welcome.jpg);
        background-size: cover;
        border-radius: 25px;
        opacity: 0.4;
    }
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}
.content-text > h4 {
    margin-top: 5px;
    font-weight: 800;
}
.content-text > p {
    margin: 5px 0px 10px 0;
    font-size: 15px;
}

/*---------------------------three columns - index file-------------------------*/

.index-row {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 20px;
    margin: 20px 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container > h2 {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}  
.index-row > h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 4px;
    text-align: center;
}
.index-column {
    margin: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    flex: 0 1 50%;
}
.index-column-item {
    padding: 15px;
    color: black;
    text-align:center;
    font-size: 12px;
}
.index-column-item > h4 {
    text-transform: uppercase;
    margin-bottom: 9px;
    text-align: center;
    font-weight: 700;
}
.index-column-item-text {
    margin: 0 auto;
    width: 90%;
    text-align:justify;
}

/*-------------------------------- GALLERY -------------------------------*/

.dishes {
    max-width: 90%;
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1 1 auto;
    
}
.dish-box {
    display: flex;
    margin: 10px;

}
.dish-image {
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    float: left;

}
.dish-image > img {
    max-width: 95%;
    justify-content: center;
    align-items: center;
    padding-top:10px;
    height: 90%;
    object-fit: cover;
}
.dish-image > p {
    text-align: center;
    color: white;
    padding-bottom: 3px;
}
.gallery-text {
    text-align:justify;
    padding: 0 0 30px 10px;
    max-width: 95%;
}
.gallery-text > h3 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}
.gallery-text > p {
    font-weight: 700;

}

/*---------------------------------- F O R M --------------------------------*/

.form-container {
    background-color: burlywood;
    height: 100%;
    position: relative;
}
.form *{
    outline: none;
}
.form {
    background-color: burlywood;
    max-width: 80%;
    margin: 0 auto;
    color: brown;
}

/*------------------------------- SENDING PROCESS  ------------------------------*/

/*-- to see the sending process comment out the lines 17-30 in the contactUs.js --*/

.form-box::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9) url('../images/loading.gif') center / 70px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
.form-box._sending::after { 
    opacity: 1;
    visibility: visible;
}
.form-box._sending::after {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease 0s;
}

/*------------------------------ SENDING PROCESS - END ---------------------------*/

.form-title {
    font-size: 24px;
    font-weight: 800;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
}
.form-item {
    margin: 0 0 20px 0;
}
.form-label {
    font-size: 18px;
    display: block;
    margin: 0 0 10px 0;
}
.form-input {
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    transition: all 0.5s ease 0s;
}
.form-input._error {
    box-shadow: 0 0 15px red;
}
.form-input:focus {
    box-shadow: 0 0 15px #7a956b;
}
textarea.form-input {
    min-height: 120px;
    resize: vertical;
    padding:10px;
}

/*------------------------------ CSS checkbox -----------------------------*/

.checkbox-input {
    display: none;
}
.checkbox-input:checked + .checkbox-label::after {
    transform: scale(1);
}
.checkbox-label {
    font-size: 16px;
    line-height: 140%;
    display: inline-flex; 
    align-items: center;  
    position: relative;
    cursor: pointer;
}
.checkbox-label::before {
    content: "";
    flex: 0 0 24px;
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: white;
    border-radius: 4px;
    margin:0 10px 0 0;
}
.checkbox-label::after {
    content: "";
    width:16px;
    height: 16px;
    position: absolute;
    top:4px;
    left:4px;
    background-color: #7a956b;
    border-radius: 4px;
    transform: scale(0);
    transition: transform 0.5s ease 0s;
}

/*--------------------------- CSS checkbox END -----------------------*/

.form-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #7a956b;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: 1.4px;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top:0;
}
.form-button:hover {
    background-color: #4f6146;
    top:3px;
}
.form-button:active {
    top:3px;
}
.exit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    background-color: gray;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: 1.4px;
    position: relative;
    top:0;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.5s ease 0s;
    position: relative;
    }
.exit:hover {
    background-color: rgb(75, 75, 75);
    top:3px;
    }

/*------------------------------------ MENU ------------------------------------*/

.menu {
    max-width: 90%;
    margin: 70px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 70px auto 0;
}
.menu-box {
    display: flex;
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 85%;
    justify-content: center;
    padding: 5% 0 5% 0;
    border-radius: 15px;
}
.menu-content > h4 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.menu-text {
    text-align: justify;
    justify-content: center;
    margin-bottom: 20px;
}
#menu-header {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 900;
}
.menu-list {
    font-size: 14px;
    line-height: 1.5rem;
}
.menu-list > ul > li{
list-style-type: none;
}


/* -------------------------- viewport 768px - 1024px -------------------------- */

@media (min-width:768px) { 

    /* --------------------------- navigation --------------------------- */

    .header-burger {
        display: none;
    }
    .header-menu { 
        position:relative;
        top:0;
        padding: 32px 10px 20px 40px;
    }
    .header-menu.active {
        top:0;
    }
    .header-body {
        height: 80px; 
    }
    .header-logo {
        flex: 0 0 70px;
    }
    .header-list {
        display:flex;
        justify-content:space-evenly;
    }
    .header-list li {
        list-style: none;
        margin: 0 0 0 20px;
        }
        
    /*------------------------------ index file ---------------------------*/

    .content {
        padding: 100px 0 0 0; 
    }
    .content-text  > h4 {
        font-size: 28px;
    }
    .content-text  > p {
        font-size: 22px;
        line-height: 3rem;
    }
   
    /*-------------------------- three columns - index file ------------------*/

    .index-row {
     flex-direction: row;
     align-items:stretch;
     flex-wrap: nowrap;
     justify-content: space-around;
     text-align: center;
    }
    .container > h2 {
        font-size: 20px;
        letter-spacing: 0.1rem;
    }
    .index-column-item > h4 {
        font-size: 17px;
    }
    .index-column-item > p {
        font-size: 15px;
    }
    
    /* ------------------------------ gallery file ---------------------------- */

    .dishes {
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    }
    .dish-box{
    flex:0 0 42%
    }
    .dish-image {
    flex: 0 1 auto;
    }
    .gallery-text {
     padding-top: 35px;
    }
    .gallery-text > h3 {
    font-size:24px;
    padding-bottom: 15px;
    }
    .gallery-text > p {
    font-size: 17px;
    }

    /*------------------------------- menu file ----------------------------- */

    #menu-header {
        margin-top: 40px;
    }
    .menu-text {
        font-size: 20px;
    }
    .menu-box {
        margin-top: 30px;
        width: 60%;
    }
    .menu-content > h4 {
        text-shadow: 2px 1px darkgreen;
        font-size: 20px;
        font-weight: 700;
    }
    .menu-list {
        font-size: 17px;
        line-height: 2.2rem;
    }

    /*--------------------------- contact form ------------------------*/

    form {
        max-width: 70%;
        margin: 0 auto;
    }
}

 /* ------------------------- viewport 1024px and higher ------------------------- */

@media (min-width: 1024px) {

    /* --------------------------- navigation --------------------------- */

    .header-list li {
        margin-left: 80px;
        }

    /*----------------------------- index file ------------------------------*/

    .content-text {
        padding: 10px 0 10px 0;
        line-height: 2.4rem;
    }
    .content-text  > h4 {
        font-size: 32px;
        font-weight: 800;
        letter-spacing: 0.15rem;
    }
    .content-text  > p {
        font-size: 26px;
    }
    .container > h2 {
        font-size: 24px;
        letter-spacing: 0.15rem;
       }
       
     /*---------------------- three columns - index file ---------------------*/

    .index-column-item > h4 {
        font-weight: 800;
    }
    .index-column-item > p {
        font-size: 18px;
    }

    /* ---------------------------- gallery file --------------------------- */

    .dishes {
     flex-direction: row;
     justify-content: center;
     text-align: center;
    }
    .gallery-two-column{
     flex:0 1 46%
    }
    .gallery-three-column {
    flex: 0 1 30% ;
    }
    .dish-image {
    flex: 0 1 auto;
    }

    /*------------------------------- menu file ------------------------------*/

    .menu-box {
    width: 70%;
    }
    .menu-text {
    font-size: 24px;
    }
    .menu-content > h4 {
    font-size: 32px;
    font-weight: 800;
    text-shadow: 3px 1px darkgreen;
    }
    .menu-list {
    font-size: 26px;
    line-height: 3rem;
    }

    /*--------------------------- contact form ------------------------*/
 
    form {
        max-width: 50%;
        margin: 0 auto;
    }
}
  